
/*https://github.com/StylishThemes/Syntax-Themes/tree/master/pygments/css-github*/
@import "theme";
@import "rouge";
@import "markdown";
@import "scrollbar";

@import "page";

// @import "sidebar";

html {
  font-family: GoogleRoboto;
  font-size: 16px;
  color: $text;
  background-color: $background-faded;
}