<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    {% if page.test %}
    {% include cdn/highlight.html %}
    
    <script src="{{ "/assets/js/test-builder.js?v=" | append: site.github.build_revision | relative_url }}"></script>
      {% if page.scripts %}
        {% for script in page.scripts %}
          <script src="{{ script.src }}"></script>
        {% endfor %}
      {% endif %}
    {% endif %}
  </head>
  <body class="doc">
    <script>
      // TODO: Implement portrait mode
      // window.addEventListener("resize", () => {
      //   // Landscape
      //   if (window.innerWidth > window.innerHeight) {
      //     if (document.body.classList.contains("portrait")) {
      //       document.body.classList.remove("portrait");
      //     }
      //   } 
      //   // Portrait
      //   else {
      //     if (!document.body.classList.contains("portrait")) {
      //       document.body.classList.add("portrait");
      //     }
      //   }
      // });
    </script>

    {% include navbar.html %}

    <div class="body">
      {% include sidebar.html %}

      <div class="content">
        <div class="body">{{ content }}</div>
      </div>
    </div>
  </body>
</html>
