<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="page">
      <div class="sidebar" id="sidebar">
        <div class="section">
          <div class="title">Classes</div>
          <div class="body">&#8226; Hahaha</div>
        </div>
      </div>
      <div class="page-body">{{ content }}</div>
    </div>
  </body>
</html>
